@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

body {
    min-height: 100vh;
    margin: 0;
}

.navbar {
    color: #5F7161;
    font-size: 1.2rem;
    font-family: "M PLUS code Latin", sans-serif;
    list-style-type: none;
    text-align: center;
    margin: 20px;
}

.navbar-link {
    display: inline;
    padding: 0 10px 0 10px;
    
}

a {
    color: #5F7161;
    text-decoration: none;
}

a:hover {
    color: #D0C9C0;
    text-decoration: underline;
} 

.container-name {
    font-family: "Barlow", sans-serif;
    color: #5F7161;
}

.name-r {
    text-align: center;
    font-size: 25rem;
    margin-top: 0rem;
}

.name-l {
    text-align: center;
    font-size: 25rem;
    margin: -20rem;
    padding-left: 15rem;
}

.first-name {
    text-align: center;
    font-size: 2rem;
    padding-left: 20rem;
    margin-top: 2.9rem
}

.last-name {
    text-align: center;
    font-size: 2rem;
    padding-left: 32rem;
    margin-top: 7.4rem;
}

.image-container {
    text-align: center;

}

.image {
    text-align: center;
    height: 150px;
    width: 150px;
    padding-left: 0rem;
    margin: -10.2rem 5rem;
    position: absolute;
}

.footer {
    color:#5F7161;
    padding: 1rem;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    text-transform: lowercase;
    font-family: "M Plus Code Latin", sans-serif;
    min-height: 50px;
}
